.nopadding-top
{
	padding-top: 0;
}

.title-container
{
	background-image: url("../image/title-top569x22.png");
	background-repeat: no-repeat;
	background-position: top center;
	text-align: center;
}

.title-text, .title-text-sub
{
	margin: 10px;
	padding-top: 15px;
    border-bottom: #d6d6d6 1px solid;
    font-size: 40px;
    /*color: #a70101;*/
    /*font-style: italic;*/
    /*text-shadow: #cc7b7b 0px 0px 3px;*/
}

.title-text, .title-text-sub
{
	font-size: 35px;
}

.nav-tabs li.active .tab-title
{
	font-size: 2.0em;
	font-style: italic;
	text-shadow: red 0px 0px 3px;
}
.nav-tabs .tab-title
{
	font-size: 1.9em;
	/*color: #337ab7;
	font-style: italic;
    text-shadow: #cc7b7b 0px 0px 3px;*/
}

.log-out
{
	font-style: italic;
}

.log-out:hover
{
	font-style: normal;
}

.option-container
{
	text-align: right;
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: #d6d6d6 1px solid;
}

.text-nowrap
{
	white-space: nowrap;
}

.text-mark {
	font-weight: bold; 
	text-decoration: underline;
}

.text-sub{
	font-weight: bold;
	font-size: 1em;
}

