@sm: 768px;
@md: 922px;
@lg: 1200px;

/* Bootstrap Custom */
.res-gutter .form-group {
	margin-bottom: 0px;
}

.res-gutter .form-group:last-child {
	margin-bottom: 10px;
}

.res-gutter [class*="col-"] {
    margin-top: 10px;
}

.res-gutter [class*="col-"] > [class*="col-"] {
    margin-top: 0px;
}

.navbar-default {
	font-weight:normal;font-size:1.5em;background-color:#D1BF7D;
}

 .dropdown-menu {
 	font-size: 1em;
 }
 
 .form-control-lable {
 	font-size: 1.2em;
 	background-color: #e6e6e6;
 }
 
 .alert {
 	padding:15px;margin-bottom:20px;border:1px solid;border-radius:4px;font-size:1.2em;
 }
 
 .panel-title {
 	margin-top:0;margin-bottom:0;font-size:1.1em;font-weight:bold;
 }
 
 .panel-title-sub {
 	margin-top:0;margin-bottom:0;font-size:1em;font-weight:bold;
 }
 
.checkbox-list .checkbox-inline {
	padding-left: 0px;
	margin-left: 0px;
}

.btn-list {
	padding: 10px;
	margin-top: 10px;
	font-size: 1.1em;
	border-radius: 6px;
}
 
@media (min-width: 768px) {
	.res-gutter .form-group {
		margin-bottom: 10px;
	}

	.res-gutter [class*="col-"] {
        margin-top: 0;
    }
    
    .panel-title {
    	font-size:1.1em;
    }
    
	.checkbox-list .checkbox-inline {
		padding-left: 20px;
		margin-left: 10px;
	}
	
	.btn-list {
		font-size: 1.2em;
		margin-top: 0px;
	}
}

@media (min-width: 922px) {
	.btn-list {
		font-size: 1.3em;
		font-weight: normal;
	}
}

@media (min-width: 1200px) {
	.dropdown:hover .dropdown-menu {
    	display: block;
	}
}

@media (max-width: 1200px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
   .navbar-nav .open .dropdown-menu {
       position: static;
       float: none;
       width: auto;
       margin-top: 0;
       background-color: transparent;
       border: 0;
       -webkit-box-shadow: none;
       box-shadow: none;
    }
}
 /* Bootstrap Custom - End */

.nopadding-top
{
	padding-top: 0;
}

.title-container
{
	background-image: url("../image/title-top569x22.png");
	background-repeat: no-repeat;
	background-position: top center;
	text-align: center;
}

.title-text, .title-text-sub
{
	margin: 10px;
	padding-top: 15px;
    border-bottom: #d6d6d6 1px solid;
    font-size: 40px;
    /*color: #a70101;*/
    /*font-style: italic;*/
    /*text-shadow: #cc7b7b 0px 0px 3px;*/
}

.title-text, .title-text-sub
{
	font-size: 35px;
}

.nav-tabs li.active .tab-title
{
	font-size: 2.0em;
	font-style: italic;
	text-shadow: red 0px 0px 3px;
}
.nav-tabs .tab-title
{
	font-size: 1.9em;
	/*color: #337ab7;
	font-style: italic;
    text-shadow: #cc7b7b 0px 0px 3px;*/
}

.log-out
{
	font-style: italic;
}

.log-out:hover
{
	font-style: normal;
}

.option-container
{
	text-align: right;
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: #d6d6d6 1px solid;
}

.text-nowrap
{
	white-space: nowrap;
}

.text-mark {
	font-weight: bold; 
	text-decoration: underline;
}

.text-sub{
	font-weight: bold;
	font-size: 1em;
}

.roster-header {
	font-size: 1em;
	font-weight: 500;
}

.roster-selection-res-gutter {
	padding: 0;	
}

.roster-selection {
	font-size: 1.2em;
}

#tableRoster {
	font-size: 1em;
}

@media (min-width: 768px) {
	.roster-selection-res-gutter {
		padding: 0 15px;	
	}	
}

@media (min-width: 922px) {
	.roster-header {
		font-size: 1.3em;
		font-weight: 700;
	}
	
	.roster-selection {
		font-size: 2.5em;		
	}
}

@media (min-width: 1200px) {
	
}






